doctype html
html
  head
    meta(charset='UTF-8')
    title Login
    link(rel='stylesheet', href='css/loginstyle.css')
  body
    body.align
      .overlay
      .site__container
        .grid__container
          form.form.form--login(method='post')
            input(type='hidden', name='_csrf', value=_csrf)
            include flash
            .form__field
              label.fa.fa-user(for='login__username')
                span.hidden Username
              |  
              input#login__username.form__input(type='text', name='email', placeholder='Email', required='')
            .form__field
              label.fa.fa-lock(for='login__password')
                span.hidden Password
              |  
              input#login__password.form__input(type='password', name='password', placeholder='Password', required='')
              label
                a.see.fa.fa-eye(alt='Have you typed your password correctly?', onmousedown="login__password.type='text';", onmouseup="login__password.type='password';", onmouseout="login__password.type='password';")
            .form__field
              input(type='submit', value='Sign In')
          p.text--center
            a(href='/signup') Sign up &nbsp;
            span.fontawesome-arrow-right(style='color: #eee;')
          p.text--center
            a(href='/forgot') Forgot your password?
