doctype html
html
  head
    meta(charset='UTF-8')
    title Reset password
    link(rel='stylesheet', href='../css/loginstyle.css')
  body
    body.align
      .overlay
      .site__container
        .grid__container
          h1 Reset password
          form.form.form--login(method='post')
            input(type='hidden', name='_csrf', value=_csrf)
            include flash
            .form__field
              label.fontawesome-lock(for='login__password')
                span.hidden Password
              |  
              input#login__password.form__input(type='password', name='login__password', placeholder='Password', required='')
              label
                a.see.fontawesome-eye-open(alt='Have you typed your password correctly?', onmousedown="login__password.type='text';", onmouseup="login__password.type='password';", onmouseout="login__password.type='password';")
            .form__field
              label.fontawesome-lock(for='login__passwordconfirm')
                span.hidden Password
              |  
              input#login__passwordconfirm.form__input(type='password', name='login__passwordconfirm', placeholder='Confirm password', required='')
              label
                a.see.fontawesome-eye-open(alt='Have you typed your password correctly?', onmousedown="login__passwordconfirm.type='text';", onmouseup="login__passwordconfirm.type='password';", onmouseout="login__passwordconfirm.type='password';")
            .form__field
              input(type='submit', value='Change password')
