doctype html
html
  head
    meta(charset='UTF-8')
    title Sign up - Tixi
    link(rel='stylesheet', href='css/loginstyle.css')
  body
    body.align
      .overlay
      .site__container
        .grid__container
          h1 Sign up
          form.form.form--login(method='post')
            input(type='hidden', name='_csrf', value=_csrf)
            include flash
            .form__field
              input#login__firstname.form__input(type='text', name='firstname', placeholder='First name', required='')
              |  
              input#login__lastname.form__input(type='text', name='lastname', placeholder='Last name', required='')
            .form__field
              label.fa.fa-user(for='login__username')
                span.hidden Username
              |  
              input#login__username.form__input(type='text', name='email', placeholder='Email', required='')
            .form__field
              label.fa.fa-lock(for='login__password')
                span.hidden Password
              |  
              input#login__password.form__input(type='password', name='login__password', placeholder='Password', required='')
              label
                a.see.fa.fa-eye(alt='Have you typed your password correctly?', onmousedown="login__password.type='text';", onmouseup="login__password.type='password';", onmouseout="login__password.type='password';")
            .form__field
              label.fa.fa-lock(for='login__passwordconfirm')
                span.hidden Password
              |  
              input#login__passwordconfirm.form__input(type='password', name='login__passwordconfirm', placeholder='Confirm password', required='')
              label
                a.see.fa.fa-eye(alt='Have you typed your password correctly?', onmousedown="login__passwordconfirm.type='text';", onmouseup="login__passwordconfirm.type='password';", onmouseout="login__passwordconfirm.type='password';")
            .form__field
              input(type='submit', value='Sign up')
          p.text--center
            a(href='/login') Log in &nbsp;
            span.fa.fa-arrow-right(style='color: #eee;')
          p.text--center
            a(href='/forgot') Forgot your password?
