/*@import url(http://weloveiconfonts.com/api/?family=fontawesome);*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);
/*@import url(./font-awesome.min.css);*/

[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  /*background-color: #292E34;*/
  background: url('../images/login_bg.jpg') #292E34 no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #7E7E7E;
  font: 400 0.875rem/1.5 "Open Sans", sans-serif;
  margin: 0;
  min-height: 100%;
}

a {
  color: #eee;
  outline: 0;
  text-decoration: none;
}
a:focus, a:hover {
  text-decoration: underline;
}

input {
  border: 0;
  color: #D6D6D6;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}

.site__container {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 3rem 0;
   z-index: 99999;
}

.form input[type="password"], .form input[type="text"], .form input[type="submit"] {
  width: 100%;
}
.form--login {
  color: #777777;
}
.form--login label,
.form--login input[type="text"],
.form--login input[type="password"],
.form--login input[type="submit"] {
  /*border-radius: 0.25rem;*/
  border-radius: 0;
  padding: 1rem;
}
.form--login label {
  background-color: #3C4047;
  border-radius: 0;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
.form--login input[type="text"], .form--login input[type="password"] {
  background-color: #3b4148;
  border-radius: 0;
}
.form--login input[type="text"]:focus, .form--login input[type="text"]:hover, .form--login input[type="password"]:focus, .form--login input[type="password"]:hover {
  background-color: #434A52;
}
.form--login input[type="submit"] {
  background-color: #39A5DC;
  color: #eee;
  font-weight: bold;
  text-transform: uppercase;
}
.form--login input[type="submit"]:focus, .form--login input[type="submit"]:hover {
  background-color: #258FC4;
}
.form__field {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem;
}
.form__input {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.align {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}

.hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.text--center {
  text-align: center;
}

.grid__container {
  margin: 0 auto;
  max-width: 25rem;
  width: 100%;
}

.grid__container > h1 {
  text-align: center;
  color: #eee;
}

.overlay {
  z-index: 1;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background:rgba(41, 46, 52, 0.3);
}

#login__firstname{
  margin-right: 10px;
}

#login__lastname{
  margin-left: 10px;
}

a.see:hover, a.see:visited, a.see:link, a.see:active{
  text-decoration: none;
  color: #777777;
}

.footer-link{
  color: #eee;
}
 
.alert {
    display: block;
    /*height: 40px;*/
    text-align: center;
    text-decoration: none;
    width: 100%;
    margin-bottom: 1em;
    padding: 1em 0;
    -webkit-animation: alert 1s ease forwards;
       -moz-animation: alert 1s ease forwards;
        -ms-animation: alert 1s ease forwards;
         -o-animation: alert 1s ease forwards;
            animation: alert 1s ease forwards;
}


.alert_info {
    color: #00529B;
    background-color: #BDE5F8;
}

.alert_info > a {
    color: #00529B;
}

.alert_success {
    color: #4F8A10;
    background-color: #DFF2BF;
}

.alert_success > a {
    color: #4F8A10;
}

.alert_warning {
    color: #9F6000;
    background-color: #FEEFB3;
}

.alert_warning > a{
    color: #9F6000;
}

.alert_error {
    color: #eee;
    background-color: #c4453c;
}

.alert_error > a{
    color: #eee;
}

.alert > span{
  height: 40px;
  vertical-align: -webkit-baseline-middle;
}

.btnclose{
  margin-top:-0.5em; 
  margin-right:0.3em;
  text-decoration: none;
  width: 100%;
  float: right;
  text-align: right;
}

a.btnclose:hover, a.btnclose:visited, a.btnclose:link, a.btnclose:active{
  text-decoration: none;
}


/* Animation */

@-webkit-keyframes alert {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { top: 0; }
}
@-moz-keyframes alert {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { top: 0; }
}
@-ms-keyframes alert {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { top: 0; }
}
@-o-keyframes alert {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { top: 0; }
}
@keyframes alert {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { top: 0; }
}

#button {
  padding: 0 1em;
  background-color: #3C4047;
  color: #777777;
 }

  #button ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border: none;
  }

  #button li {
    border-bottom: 1px solid #777777;
    padding: 0.5em 0;
    margin: 0;
  }

   #button li a {
     display: block;
     padding: 5px 5px 5px 0.5em;
     background-color: #3C4047;
     color: #fff;
     text-decoration: none;
     width: 100%;
    } 
   #button li a {
     border-bottom: none;
    }

/*    
    #button:last-child ul li {
     border-bottom: none;
    } */
  #button li a:hover {
    background-color: #54585E;
    color: #fff;
  }