.nav-pf-vertical.nav-pf-vertical-with-sub-menus
    ul.list-group
        // Dashboard
        li.list-group-item(class=one?"active":"")
            a(href='/admin')
                span.fa.fa-dashboard
                span.list-group-item-value Dashboard
        // Portals
        li.list-group-item(class=two?"active":"")
            a(href='/admin/portals')
                span.fa.fa-sign-in
                span.list-group-item-value Portals
        // Cash Load
        li.list-group-item(class=three?"active":"")
            a(href='/admin/booths')
                span.fa.fa-money
                span.list-group-item-value Cash Load
        // Merchants
        li.list-group-item(class=four?"active":"")
            a(href='/admin/merchants')
                span.pficon.pficon-users
                span.list-group-item-value Merchants
        // Zones
        li.list-group-item(class=five?"active":"")
            a(href='#')
                span.pficon.pficon-zone
                span.list-group-item-value Zones
