extends ../layout
block title
    title Tixi Local Event Server
    
block navbar
  include baseRfid

block content
      .row.row-cards-pf
        .col-xs-6.col-sm-4.col-md-3
          .card-pf.card-pf-accented.card-pf-aggregate-status
            h2.card-pf-title
              span.pficon.pficon-add-circle-o.text-danger
              |  Scans
            .card-pf-body
              p.card-pf-aggregate-status-notifications
                span.card-pf-aggregate-status-notification
                  | 6070
        .col-xs-6.col-sm-4.col-md-3
          .card-pf.card-pf-accented.card-pf-aggregate-status
            h2.card-pf-title
              span.fa.fa-credit-card-alt.text-success
              |  Wallets
            .card-pf-body
              p.card-pf-aggregate-status-notifications
                span.card-pf-aggregate-status-notification
                  | 5100
        .col-xs-6.col-sm-4.col-md-3
          .card-pf.card-pf-accented.card-pf-aggregate-status
            h2.card-pf-title
              span.pficon.pficon-users
              |  Merchants
            .card-pf-body
              p.card-pf-aggregate-status-notifications
                span.card-pf-aggregate-status-notification
                  | 21
        .col-xs-6.col-sm-4.col-md-3
          .card-pf.card-pf-accented.card-pf-aggregate-status
            h2.card-pf-title
              span.fa.fa-sign-in
              |  Portals
            .card-pf-body
              p.card-pf-aggregate-status-notifications
                span.card-pf-aggregate-status-notification
                  | 7
      // Graph row
      .row(style='background: #FFFFFF;padding-top: 20px;')
        .col-sm-8.col-md-8
          .row.row-cards-pf
            .col-md-12
              .card-pf.card-pf-utilization
                .card-pf-heading
                  p.card-pf-heading-details Last 5 hours
                  h2.card-pf-title
                    | Attendance trend
                .card-pf-body
                  .row
                    .col-xs-12.col-sm-4.col-md-12
                      #area-chart-4
                      script.
                            
                            var c3ChartDefaults = $().c3ChartDefaults();

                            var singleLineChartDataColumns = [
                            ['x', '2016-06-03 12:00:00', '2016-06-03 12:30:00', '2016-06-03 13:00:00', '2016-06-03 13:30:00', '2016-06-03 14:00:00', '2016-06-03 14:30:00'],
                            ['data1', 275, 696, 1657, 2568, 4850, 6070]
                            ];
                            

                            var singleLineChartConfig = c3ChartDefaults.getDefaultSingleLineConfig();
                            singleLineChartConfig.bindto = '#area-chart-4';
                            singleLineChartConfig.data = {
                                columns: singleLineChartDataColumns,
                                type: 'area-spline',
                                x: 'x',
                                xFormat: '%Y-%m-%d %H:%M:%S'
                            };
                            singleLineChartConfig.axis = {
                                x: {
                                    type: 'timeseries',
                                    tick: {
                                        format: '%H:%M'
                                    }
                                }
                            };
                            var singleLineChart = c3.generate(singleLineChartConfig)

        // Column 2 - Notifications
        .col-sm-8.col-md-4(style="padding-top:20px; padding-left:0px;padding-right:0px")
          .row.row-cards-pf
            .col-xs-12.col-sm-6.col-md-12
              .card-pf
                .card-pf-heading
                  h3.card-pf-title
                    | Latest Notifications
                .card-pf-body
                  ul.list-group
                    each notification, index in notifications
                      li.list-group-item
                        p.list-group-item-text #{notification}
      // /col
      // BODY
