extends ../layout
block title
    title No items found
    
block navbar
  include baseRfid

block content
      .blank-slate-pf
        .blank-slate-pf-icon
          span.pficon.pficon.pficon-add-circle-o
        h1
          | Oops! #{message}
        p
          | Contact the admin for more information on this.
        .blank-slate-pf-main-action
          button.btn.btn-primary.btn-lg  Back 
